@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

body {
  background-color: #f6f6f8;
  /* color: black; */
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
}
.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.input {
  border: none;
  outline: 0;
  padding: 10px 20px;
  border-radius: 22px;
  width: 400px;
}
.list {
  color: white;
}

.suggestionCon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  list-style: none;
}
.feed::-webkit-scrollbar {
  display: none;
}
.emp::-webkit-scrollbar {
  display: none;
}

/* For dynamic form builder */
@theme {
  --color-cardColor: #ffffff;

  --color-hoverColor: #6d5df6;
  --color-purpleColor: #5b4ae8;
  --color-lightPurpleColor: #f4f2ff;
  --color-headingTextColor: #111827;
  --color-bodyTextColor: #4b5563;
  --color-placeHolderColor: #9ca3af;
  --color-iconColor: #4b5563;

  --color-borderActiveColor: #6d5df6;
  --color-borderColor: #9ca3af;

  --color-btnTextColor: #111827;
  --color-btnPurpleTextColor: #fff;
  --color-btnBgColor: #ffffff;
  --color-btnBgPurpleColor: #5b4ae8;
}

.topContent::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
.rightsideBar::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
.leftsideBar::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
.bottomContent::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
.cardFieldScroll::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}


@layer utilities {
  .inputCSS{
    @apply w-full pl-3 py-2 text-sm outline-0 border border-borderColor rounded-xl focus:border-hoverColor
  }
}